@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Raleway:wght@100..900&display=swap');

:root {
    --charcoal: hsl(0, 0%, 10%);
    --off-white: hsl(0, 0%, 90%);
    --near-black: hsl(0, 0%, 5%);
    --sky-blue: rgba(135, 206, 235, 1);
    --steel-blue: rgba(70, 130, 180, 1);
    --powder-blue: hsl(195, 53%, 79%);
    --royal-blue: hsl(207, 44%, 49%);
    --slate-blue: hsl(200, 18%, 46%);
    --cadet-blue: hsl(189, 50%, 61%);
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --light: #F8F9FA;
    --dark: #212529;
}

body {
    margin: 0;
    padding: 0;
    font-family: "var(--primary-font), var(--secondary-font), "Poppins", Arial, Helvetica, sans-serif;
    color: var(--light);
    font-weight: bold;
    background-color: var(--dark);
}

/* Header Starts Here */

header {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.447);
    display: flex;
    justify-content: center;
    box-shadow: 0 0.5px 5px hsla(0, 2%, 78%, 0.5);
}

header h3 {
    background: linear-gradient(90deg, var(--sky-blue) 0%, var(--steel-blue) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}

header h3:hover {
    transform: scale(1.02);
}

header a {
    color: var(--light);
    text-decoration: none;
}

/* Header Ends Here */

.main {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#city {
    font-size: 1.2rem;
    margin: 25px 10px;
    background-color: hsla(0, 0%, 0%, 0.9);
    color: hsl(0, 0%, 90%);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(76, 75, 75, 0.7);
}

button[type="submit"] {
    font-size: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px hsla(0, 1%, 45%, 0.7);
    background-color: hsla(0, 0%, 0%, 0.9);
    color: hsl(0, 0%, 90%);
    padding: 8px;
    margin: 10px 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

button[type="submit"]:hover {
    transform: scale(1.02);
}

.card {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cityDisplay {
    margin-bottom: 0;
    padding: 0;
    font-size: 2em;
}

.temDisplay {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
}

.humidityDisplay,
.descDisplay,
.feelsDisplay,
.min,
.max {
    font-size: 1.2em;
}

.emojiDisplay {
    font-size: 3rem;
    margin: 5px auto;
}

.errorDisplay {
    margin: 10px auto;
    color: hsl(0, 100%, 50%);
    padding: 10px;
}
